/* line 1, ../../src/sass/style.sass */
body {
  background-color: black;
}

/* line 3, ../../src/sass/style.sass */
h1 {
  color: #fc99cc;
  text-align: center;
  font-size: 80px;
}

/* line 7, ../../src/sass/style.sass */
.doll {
  width: 100%;
  margin: 0 auto;
}
/* line 10, ../../src/sass/style.sass */
.doll img {
  width: 100%;
  height: 100%;
}
