
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel='stylesheet', href='stylesheets/vendor/reset/normalize.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  link(rel='stylesheet', href='stylesheets/rollerblade.css')
  //- script(src="js/app.js")
  title Document
body
  h1 Self Dance
  #doll.doll
    img.doll-img.rollerblade-img(src="images/1.jpg", alt="doll")
  //- button(id="erase") erase
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="js/rollerblade.min.js")
  script(src="js/app/app.js")
  //- script.
  //-   $(document).ready( function(){
  //-     arrayOfImages = [
  //-       'images/1.jpg',
  //-       'images/2.jpg',
  //-       'images/3.jpg',
  //-       'images/4.jpg',
  //-       'images/5.jpg',
  //-       'images/6.jpg',
  //-       'images/7.jpg',
  //-       'images/8.jpg',
  //-       'images/9.jpg',
  //-     ]
  //-     console.log(arrayOfImages);
  //-     $('#doll').rollerblade({arrayOfImages});
  //-   })